<div class="clr-row clr-justify-content-center">
    <div class="clr-col-6">
        <div class="card">
            <div class="card-header">Login</div>
            <div class="card-block">
                <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                    <div class="clr-form-control clr-row">
                        <label for="email" class="clr-control-label clr-col-12">Email</label>
                        <div class="clr-input-wrapper clr-col-12">
                            <input type="email" class="clr-input" id="email" required email formControlName="email">
                            <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)"
                                class="text-danger">
                                <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</div>
                                <div *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</div>
                            </div>
                        </div>
                    </div>
                    <div class="clr-form-control clr-row">
                        <label for="password" class="clr-control-label clr-col-12">Password</label>
                        <div class="clr-input-wrapper clr-col-12">
                            <input type="password" class="clr-input" id="password" required formControlName="password">
                            <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)"
                                class="text-danger">
                                Password is required.
                            </div>
                        </div>
                        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                            {{ errorMessage }}
                        </div>
                    </div>
                    <div class="clr-form-control clr-row clr-col-12">
                        <button type="submit" class="btn btn-primary"
                            [disabled]="loginForm.get('email')?.value == '' || loginForm.invalid">Login</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
@if (this.showSuccessModal) {
<!-- Success Modal -->
<div class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <!-- Removed close button from header as alert provides context -->
                <h3 class="modal-title">Login Results:</h3>
            </div>
            <div class="modal-body">
            </div>
            <!-- Success Alert within Modal -->
            <div class="alert alert-success" role="alert">
                <div class="alert-items">
                    <div class="alert-item static">
                        <div class="alert-icon-wrapper">
                            <!-- Using check-circle for success -->
                            <cds-icon class="alert-icon" shape="check-circle" aria-hidden="true"></cds-icon>
                        </div>
                        <span class="alert-text">Success!</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- Only OK button needed for confirmation -->
                <button class="btn btn-primary" type="button" (click)="closeSuccessModal()">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>
}